<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/public/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="manage-posts ">

<div class="all-posts-background"></div> 

  <div class="navbar">
    <a href="/">
      <div class="logo">B</div>
      </a>
    <div class="nav-btns">
      <a class="nav-btn-1" href="/add-post">+ Add</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="30">
        <line x1="5" y1="0" x2="5" y2="30" stroke="black" />
      </svg>
      <a class="nav-btn-2" href="/manage-posts">Manage</a>
    </div>
  </div>

  <h1 class="index-title" style="margin-top: 30px;">ALL POSTS</h1>

  <div class="center-sec posts-index posts-sec">
    
    <ul>
      <% posts.forEach((post) => { %>
        <li class="p-test">
          <a href="/post/<%= post.id %>/view" class="post-link">
            <img src="/<%= post.image_path %>" alt="Image for <%= post.title %>">
          </a>
            <div class="post-preview-text">
              <span><%= post.title %></span>
              <p><%= formatDate(post.timestamp) %></p>
          </div> 
        </li>
      <% }); %>
    </ul>
   
    <div class="pagination center-sec">

      <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="/posts/<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
      <% } %>

    </div>

  </div>

  <footer>

    <div class="contact-info">
    
    
        <p style="font-weight: bold;">made by Lucas Uriel</p>
        <p>Computer Science Student</p>
    
    
     
    
        <p style="margin-top: 15px;">Contact me!</p>
        <a href="">lucas.uriel2002@gmail.com</a>
    
        <div class="social">
          <a href="https://www.linkedin.com/in/lucas-uriel/">Linkedin</a>
          <p>|</p>
          <a href="https://github.com/LucasUriel2002">GitHub</a>
        </div>
      
    </div>
    
    <div class="project-text">
      <p>SOME TEXT ABOUT THE PROJECT SOME TEXT ABOUT THE PROJECT SOME TEXT ABOUT THE
         PROJECT SOME TEXT ABOUT THE PROJECT SOME TEXT ABOUT THE PROJECT  </p>
    </div>
    
    <div class="footer-logo">
      <p>SIMPLE </br> BLOG</p>
      <div class="logo">B</div>
    </div>
    
    </footer>
</body>

<script src="/public/js/script.js"></script>

</html>